
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300&display=swap');


*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    font-size:62.5%;
}



nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 30px auto;
}

nav ul, .linksocial ul{
    display: flex;
    align-items: center;

}

nav ul li{
    margin-left: 30px;
    color: #521E70;
    font-size: 1.8rem;
}




.btn button{
    color: white;
    background-color: #04B2D9;
    border: none;
    border-radius: 5px;
    padding: 20px 60px;
}

.btngrid2 button{
    color: white;
    background-color: #04B2D9;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;

}

li:hover{
    color: #E53EA8;
}


.linksocial li:hover i{
    color: #05DBF2;
}



section{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg_topo_1600x1374.jpg);
    /*background-position: center bottom;*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


    

.iconcards i{
    font-size: 3.2rem;
    color: #521E70;
}

 .icon img{
    width: 100px;
    height: 100px;

}

 .icon, .titletop, .desctop, .btn, .iconcards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    

}

.content-sectop .titletop{
    font-size: 1.9rem;
}

.content-sectop .desctop{
    font-size: 1.6rem;
}


.titletop, .desctop{
    color: white;
}

.gridcards .titletop{
    color: #521E70;
    letter-spacing: 0.5rem;
    font-size: 1.7rem;
}

.gridcards .desctop{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    
}

.titlesec2{
    letter-spacing: 0.5rem;
    font-size: 1.5rem;
    color: #521E70;
}

.descsec2{
    color: black;
    font-size: 1.3rem;
    margin: 20px 0px;
    font-weight: bold;
}





.containercards{
    background-color: #EAEAEA;
    height: 250px;

}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    max-width: 90vw;
    margin: 0 auto;
   
    
}

.grid2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 90vw;
    margin: 0 auto;
    grid-gap: 20px;
    margin-top: 45px;
}


footer{
            
    width: 100%;
    margin: 0 auto;
    background-color: #0D608A;
    margin-top: 40px;
}

    
.linksocial{
  display: flex;
  justify-content: center;
  align-items: center;

}

.linksocial li{
    margin-left: 15px;
    color: #122F3D;
}

.linksocial li i{
    font-size: 1.8rem;
    margin-top: 5px;
}

.direitos{
   text-align: center;
   background-color: #122F3D;
   color: #d3d3d3;
   font-size: 1.3rem;
}




@media (max-width:1180px){

    html{
        font-size: 45%;
    }
    section{
        height: 60vh;
        background-position: center right;
    }


    .gridcards .titletop, .desctop{
        margin-top: 5px;
        margin-bottom: 0;

    }

    

    .gridcards:nth-child(n+3)  .iconcards{
        margin-top: 0px;
    }



    

    .gridcards .desctop{
        width: 100%;
    }

    .cards{
        grid-template-columns: repeat(2,1fr);
        
    }

    .grid2{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;

    }

    .descsec2{
        margin: 5px 0px;
    }

    .btngrid2{
        margin-top: 16px;
    }


    @media (max-width:768px){



        html{
            font-size: 45%;

        }
        .icon img {
            width: 75px;
        }
        section{
            height: 45vh;
            width: 100%;
            background-image: none;
            background-color: purple;
        }

        .content-sectop .btn{
            margin-top: 15px;
        }

        .content-sectop .btn button{
            padding: 8px 30px;
        }


        .content-sectop .desctop{
            margin-top: 10px;
        }

       

        .containercards{
            width: 100%;
           height: 440px;
            
        }

        .gridcards .titletop, .desctop, .iconcards{
            margin-top: 10px;
           
        }

        .cards .gridcards .desctop{
            margin-bottom: 0px;
        
        }
        
        .grid2{
            margin-top: 20px;
        }



        



    
        

        .gridcards:nth-child(+2) .iconcards{
            margin-top: 0;
        }
    
        .cards{
            grid-template-columns: repeat(1,1fr);
            
        }

        .containercards .desctop {
           
          width: 100%;
        }

        

        
    
        .grid2{
            grid-template-columns: repeat(1,1fr);
            grid-gap: 40px;
            width: 100%;
    
        }


        section .btn, .titletop, .desctop, .icon{
            margin-top: 0px;

        }

        footer{
            width: 100%;
        }

        



    @media (max-width:435px){

        
       html{
        font-size: 40%;
       }
        nav{
            flex-direction: column;
            text-align: center;
            width: 96vw;
            margin: 0;
        }

        nav h1{
            margin: 10px 0;
        }

        nav ul{
            display: block;
            background-color: purple;
            width: 96vw;

        }

        nav ul li{
            margin:0px;
           color: white;
           padding: 15px;
        }

        .icon img{
            display: none;
           margin-top: 0;
           
        }

        section{
            height: 30vh;
            background-color: white;
        }

        section .btn, .titletop, .desctop, .icon{
            margin-top: 0px;

        }

        .content-sectop .titletop, .desctop{
           color: #521E70;
        }

        .content-sectop .desctop{
            text-align: center;
            color: #521e709a;
        }

        .cards{
            grid-template-columns: repeat(1,1fr);
            
        }

        .gridcards:nth-child(3){
            margin: 0;
        }

        .gridcards:last-child{
            margin-bottom: 20px;
        }

        .grid2{
            margin-top: 25px;
        }

        .grid2 .btngrid2 button{
            padding: 8px 10px;
        }



        

        

        nav a:hover li{
            background-color: #E53EA8;
            color: #521E70;
        }

        .linksocial li:hover i{
            color: #05DBF2;
        }
    }


    }

}